node_modules
nodeenv
pyenv
npm-debug.log
public
assets.json
public
media
db.sqlite3
materials/build/
nginx.conf
nginx.dvmn.conf
nginx.dvmn.env
dj.env
nginx.env
**/__pycache__/
backup
landing/public
landing/dev_build
local_scripts
tilda_assets
.idea
.pytest_cache
venv
